<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10"><a class="btn btn-default pull-right" style="margin-top: 6px" ng-click="onLogout()">退出</a></div>
            <div class="col-xs-1"></div>
        </div>
    </div>
</nav>
<div class="page-header">
    <h1 style="margin: 20px 0px 0px 100px" class="text-info">病例列表</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <a class="btn btn-info pull-right glyphicon glyphicon-plus" href="#/add">新增</a>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>姓名</th>
                    <th>病历号</th>
                    <th>性别</th>
                    <th>年龄</th>
                    <th>就诊时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="patient in patients" ng-click="showDetail(patient.id)">
                    <td>{{ $index + 1 }}</td>
                    <td>{{ patient.name }}</td>
                    <td>{{ patient.number }}</td>
                    <td>{{ patient.sex }}</td>
                    <td>{{ patient.age }}</td>
                    <td>{{ patient.date }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-1"></div>
    </div>
    <div class="row text-center">
        <paging
                class="small"
                page="page.pageNo"
                page-size="page.pageSize"
                total="page.total"
                adjacent="2"
                dots="..."
                scroll-top="true"
                hide-if-empty="true"
                show-prev-next="true"
                paging-action="onPageChange(page)">
        </paging>
    </div>
</div>
